*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.3em) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #ecf2f8; }

.container {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr repeat(8, 7vw) 1fr;
  grid-template-columns: 1fr repeat(4, 7vw) repeat(4, 6vw) 1fr;
  grid-template-rows: repeat(2, max-content) min-content;
  gap: 2rem; }
  @media only screen and (max-width: 62.3em) {
    .container {
      display: flex;
      flex-direction: column;
      margin: 3rem 5rem 3rem 5rem; } }
  @media only screen and (max-width: 23.4em) {
    .container {
      margin: 3rem 3rem 0 3rem; } }

.heading-primary {
  color: #ecf2f8;
  font-size: 1rem; }
  .heading-primary--greydark {
    color: #48556a;
    font-size: 1rem; }

.heading-tertiary {
  color: #ecf2f8;
  opacity: 50%;
  font-size: .9rem; }
  .heading-tertiary--greydark {
    color: #48556a;
    opacity: 50%;
    font-size: .9rem; }

.paragraph-primary {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-top: 1.5rem; }
  .paragraph-primary--dark {
    color: #48556a;
    font-size: 1.5rem;
    font-weight: 500; }

.paragraph-secondary {
  color: #cfcfcf; }

.paragraph-secondary--dark {
  color: #48556a; }

.mb {
  margin-bottom: 1rem; }

.mt {
  margin-top: 2rem; }

.tl {
  text-align: justify; }

.card {
  border-radius: .5rem;
  padding: 2rem 2rem 2rem; }

.daniel {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 0;
  background-color: #7541c8;
  grid-column: 2/6; }

.jonathan {
  background-color: #48556a;
  grid-column: 6/8; }

.jeanette {
  background-color: #fff;
  grid-column: 2/4;
  grid-row: 2/3; }

.kira {
  background-color: #fff;
  grid-column: 8/10;
  grid-row: 1/span 2; }

.patrick {
  background-color: #19212e;
  grid-column: 4/8;
  grid-row: 2/3; }

.footer {
  text-align: center;
  grid-column: 4/8;
  grid-row: 3/ -1; }

.header {
  display: flex; }
  .header__headings {
    margin-left: 1.5rem;
    color: #fff; }

.img {
  width: 25px;
  height: 25px;
  border-radius: 50rem; }

.img-1 {
  border: 2px solid #7541c8; }

.img-2 {
  border: 2px solid #fff; }

.img-3 {
  border: 2px solid #fff; }

.img-4 {
  border: 2px solid #7541c8; }

.img-5 {
  border: 2px solid #fff; }
