.header {
    display: flex;
    

    &__headings {
        margin-left: 1.5rem;
        color: #fff;
    }
    
}

.img {
    width: 10%;
    border-radius: 50rem;
    border: 2px solid #fff;
}

.img-2 {
    width: 20%;
}

.img-3 {
    width: 25%;
}

.img-5 {
    width: 25%;
}

