.header {
    display: flex;
    

    &__headings {
        margin-left: 1.5rem;
        color: #fff;
    }
    
}

.img {
    width: 25px;
    height: 25px;
    border-radius: 50rem;
}

.img-1 {
    border: 2px solid $moderate-violet;
}

.img-2 {
    border: 2px solid #fff;
}

.img-3 {
    border: 2px solid #fff;
}

.img-4 {
    border: 2px solid $moderate-violet;
}

.img-5 {
    border: 2px solid #fff;
}

