.heading-primary {
    color: $light-greyish-blue;
    font-size: 1rem;

    &--greydark{
        color: $dark-grey-blue;
        font-size: 1rem;  
    }
}

.heading-tertiary {
    color: $light-greyish-blue;
    opacity: 50%;
    font-size: .9rem;

    &--greydark{
        color: $dark-grey-blue;
        opacity: 50%;
        font-size: .9rem;  
    }
}

.paragraph-primary {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1.5rem;

    &--dark {
        color: $dark-grey-blue;
        font-size: 1.5rem;
        font-weight: 500; 
    }
}

.paragraph-secondary {
    color: $light-grey;
}

.paragraph-secondary--dark {
    color: $dark-grey-blue;;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 2rem;
}

.tl {
    text-align: justify;
}