.heading-primary {
    color: $light-greyish-blue;
}

.heading-tertiary {
    color: $light-grey;
}

.paragraph-primary {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1.5rem;
}

.paragraph-secondary {
    color: $light-grey;
}